.header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: #1b57ff;
    z-index: 3;
    opacity: 0.99;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.navbar__list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.navbar__item {
    text-decoration: none;
}

.navbar__link {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.navbar__link:hover {
    transform: scale(1.5, 2);
    transition: all ease-in-out .3s;
    color: #2b2b2b;
}

.navbar__item--active .navbar__link {
    color: var(--color-neutral-1);
    border-bottom: 3px solid var(--color-primary-4);
}

.navbar__mobile-btn {
    display: none;
    color: white;
}

.navbar__mobile-area {
    display: none;
}

.navbar__text {
    font-weight: bold;
    font-size: 26px;
    color: white;
}

.hidden {
    display: none;
}

@media (width < 1345px) {
    .navbar {
        font-size: 16px;
        font-weight: bold;
    }
}

@media screen and (max-width: 1024px) {
    .navbar__list,
    .button--default {
        display: none;
    }

    .navbar__mobile-btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .navbar__mobile-area--active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar__mobile-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    .navbar__mobile-item {
        list-style: none;
        text-align: center;
    }
}
