html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(96, 195, 255);
    background: radial-gradient(circle, rgba(0, 157, 255, 0.651) 0%, rgb(41, 55, 255) 100%);
}

.login-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 12px;
    border: 1px solid #adadad;
    box-sizing: border-box;
}

.btnLogin {
    background-color: #0059ff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
}

.btnLogin:hover {
    background-color: #4184ff;
    transition: all ease-in-out .4s;
}

.links {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 90%;
    margin-top: 20px;
}

.link-password-request {
    margin-bottom: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 90%;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.containerBack {
    background-color: #0059ff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    box-sizing: border-box;
}

.containerBack a {
    color: white;
    text-decoration: none;
}

.containerBack:hover {
    background-color: #4184ff;
    transition: all ease-in-out .4s;
}

.containerBack img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.containerLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

button {
    position: fixed;
}