@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --foreground: #EBF4FF;
    --thirdground: #FFC600;
    --primary: #000;
    --secondary: #FFF;
    --secondary-foreground: #000;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
    font-size: 62.5%;
}

body {
    background-color: white;
    color: black;
    font-size: 1.6rem;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

header {
    position: sticky;
    inset: 0 0 auto 0;
    z-index: 10;
    box-shadow: 0 0 5px #000;
    background-color: #1b57ff;
}

header .logo img {
    width: 12rem;
}

header .area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

header .menu-opener {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

header .hamburguer-icon {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

header .hamburguer-icon span {
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--secondary);
}

header .close-icon {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

header .close-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--secondary);
}

header .close-icon span:first-child {
    transform: rotate(45deg);
}

header .close-icon span:last-child {
    transform: rotate(-45deg);
}

header nav {
    background-color: var(--background);
    color: var(--secondary);
    overflow-y: hidden;
    max-height: 0;
    transition: all ease .5s;
}

header nav.opened {
    max-height: 100vh;
}

header nav ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

header nav li {
    padding: 1rem 2rem;
}

header nav a {
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}

header nav a:hover {
    opacity: 0.8;
}

header nav a.bold {
    font-weight: bold;
}

.imagem {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto {
    text-align: center;
    margin: 20px;
    font-size: 22px;
}

.cards-container {
    display: grid;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}

.card {
    background-color: #eeeeee;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 12px;
}

.card h2 {
    margin-bottom: 1rem;
}

.card p {
    margin-bottom: 1.5rem;
    color: #555555;
}

.saiba-mais-btn {
    display: inline-block;
    background-color: #1b57ff;
    color: #fff;
    padding: 1rem;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.saiba-mais-btn:hover {
    background-color: #1440d6;
}

@media (width > 900px) {
    header .menu-opener {
        display: none;
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav {
        max-height: 100vh;
    }

    header nav ul {
        flex-direction: row;
        padding-bottom: 0;
    }

    .cards-container {
        margin: 10px;
    }
}

@media (width < 640px) {
    .cards-container {
        margin: 10px;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}