@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

.btn-default {
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    border-radius: 12px;
    width: 200px;
    height: 50px;
    font-weight: 600;
    box-shadow: 0px 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    font-size: 16px;
}

.btn-default:hover {
    background-color: rgba(0, 0, 255, 0.329);
    color: white;
    transition: all ease-in-out .3s;
}

.img_calc {
    width: 100%;
    max-width: 2560px;
    height: auto;
}

#calc_ft {
    font-size: 150px;
}

.area-inicial {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.container-2pg {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}

.txt-agnd {
    margin-top: 50px;
}

.area-inicial h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 90px;
}

.img_calc {
    display: block;
    width: 100%;
}

@media (max-width: 300px) {
    .hidden {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .container-2pg {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 60px;
    }
}